.customButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
}

.joblistButton {
  background-color: #111111;
  color: white;
  cursor: pointer;
}

.joblistButton:focus {
  outline: 0
}

.custom-ghost-button-transition {
  display: inline-block;
  padding: 8px;
  width: 60%;
  display: flex;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0px;
  background-color: #111111;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.custom-ghost-button-transition:hover,
.custom-ghost-button-transition:active {
  background-color: #66FCF1;
  color: black;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
.custom-ghost-button-transition:focus {
  outline: 0;
  background-color: #66FCF1;
  color: black
}

.jobList-ghost-button-transition {
  margin: 2px;
  padding: 8px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: white;
  border: 0px;
  background-color: #111111;
  outline: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.jobList-ghost-button-transition:hover,
.jobList-ghots-button-transition:active {
  background-color: #66FCF1;
  color: white;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
.jobList-ghost-button-transition:focus {
  outline: 0;
  background-color: #66FCF1;
  color: black;
}

.ghost-button-transition {
  display: inline-block;
  padding: 8px;
  width: 90%;
  display: flex;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0px;
  background-color: #111111;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button-transition:hover,
.ghost-button-transition:active {
  background-color: #66FCF1;
  color: black;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
.ghost-button-transition:focus {
  outline: 0;
  background-color: #66FCF1;
  color: black
}

.column {
  background-color: #111111;
  min-height: 300px;
  border-color: #1F2833;
}

.list {
  width: 100%;
  float: left;
  background-color: #1F2833;
}

.grid {
  width: 50%;
  float: left;
  background-color: #1F2833;
}

.hamburger-div {
  position: fixed;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: #66FCF1;
  margin: 6px 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.3s;
}

.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav button:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: #111;
  color: white;
  border-width: 0px;
}

.sidenav-extended {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 5px solid #66FCF1;
  transition: 0.3s;
}

.sidenav-extended button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav-extended button:hover {
  color: white;
}

.sidenav-extended .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: #111;
  color: white;
  border-width: 0px;
}

.closebtn:focus {
  outline: 0;
}

.main-extended {
  margin-left: 200px;
  padding: 0px 10px;
  border-color: white;
  transition: 0.3s;
}

.main {
  margin-left: 0px;
  padding: 0px 10px;
  border-color: white;
  transition: 0.3s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    width: 10%
  }
  .sidenav button {font-size: 18px;}
  .sidenav-extended {
    padding-top: 15px;
    width: 10%
  }
  .sidenav-extended button {font-size: 18px;}
}

#Logo {
  background-color: #393E45;
}

#Logoimage {
  width: 250px;
}

#titleInput {
  border-radius: 0px
}

#descriptionInput {
  border-radius: 0px
}

#customnavbar {
  background-color: #1F2833;
  border-radius: 10px
}

label {
  color: white
}

p {
  color: #C5C6C7
}

h5 {
  color: #C5C6C7
}

small {
  color: #C5C6C7
}

@media only screen and (max-width: 926px) {
    .grid-button {
        display: none;
    }
    .list {
      width: 100%
    }
    .grid {
      width: 100%
    }
}
